.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: -210px;
}
